doctype html
html(lang="ru")

    include ../../bemto/bemto
    include ../components/head/head.pug

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.main-block
            .inner-wrap
                .container
                    +b.promo
                        +e.top
                            img(src='static/img/content/each-week-bonuses.png')
                        +e.bottom
                            picture
                                source(media='(min-width: 900px)' srcset='static/img/content/888888-desc.png')
                                img(src='static/img/content/888888.png')
                    .btn-wrap.btn-wrap_top
                        +b.A.btn(href='#') Рискнуть
                +b.slider
                    +e.inner-wrap
                        +e.slide получай бездепозитные бонусы<br> по <span class='slider__emphasized-text'>8 888</span> рублей
                    +e.inner-wrap
                        +e.slide Участвуй в сражениях<br> и выигрывай<br> по <span class='slider__emphasized-text'>377 000</span> руб.
                    +e.inner-wrap
                        +e.slide Выводи свои&nbsp;выигрыши<br> <span class='slider__emphasized-text'>за 2 часа</span>
                .container
                    .btn-wrap
                        +b.A.btn(href='#') Рискнуть

        .overlay
        +b.popup
            +e.BUTTON.close-btn
            +e.title
                img(src='static/img/content/stay-pirot.png')
            +e.P.text Настолько ли ты дерзок, чтобы получить специальный бонус от нашего Адмирала?
            +e.P.timer-text Предложение действительно:
            +e.timer(id='timer') <span id='minutes'>04</span>:<span id='seconds'>59</span>
            .btn-wrap
                +b.A.btn_popup(href='#') Получить








        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
